<mdc-toolbar [fixed]="true">
    <mdc-toolbar-section [alignStart]="true">
        <mdc-icon icon="menu" menuIcon></mdc-icon>
        <div class="mdc-toolbar__title">{{title}}</div>
    </mdc-toolbar-section>
</mdc-toolbar>
<main class="mdc-toolbar-fixed-adjust" style="padding: 1em;">
    <div class="mdc-typography--subheading1">
        COMPONENTS
    </div>
    <ul class="mdc-list">
        <li [routerLink]="['Button']" class="mdc-list-item" mdc-ripple>
            <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">
                control_point
            </i>
            Buttons
        </li>
        <li [routerLink]="['Dialog']" class="mdc-list-item" mdc-ripple>
            <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">
                filter_frames
            </i>
            Dialogs
        </li>
        <li [routerLink]="['Fab']" class="mdc-list-item" mdc-ripple>
            <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">
                control_point_duplicate
            </i>
            Floating Action Buttons
        </li>
        <li [routerLink]="['IconToggle']" class="mdc-list-item" mdc-ripple>
            <i class="mdc-list-item__start-detail material-icons" aria-hidden="true">
                radio_button_checked
            </i>
            Icon Toggles
        </li>
    </ul>
    <br>
    <router-outlet></router-outlet>
</main>