<mdc-toolbar [fixed]="true">
    <mdc-toolbar-section [alignStart]="true">
        <a class="material-icons" style="margin-right: 8px">menu</a>
        <mdc-toolbar-title [title]="title"></mdc-toolbar-title>
    </mdc-toolbar-section>
</mdc-toolbar>
<main class="mdc-toolbar-fixed-adjust">
    <ul>
        <li>
            <a [routerLink]="['Button']">mdc-button</a>
        </li>
        <li>
            <a [routerLink]="['Fab']">mdc-fab</a>
        </li>
        <li>
            <a [routerLink]="['IconToggle']">mdc-icon-toggle</a>
        </li>
    </ul>
    <br>
    <router-outlet></router-outlet>
</main>