<mdc-fab id="demo-absolute-fab">
    <mdc-icon icon="edit"></mdc-icon>
</mdc-fab>
<fieldset>
    <legend>Normal FABs</legend>
    <mdc-fab>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
    <mdc-fab mini>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
    <mdc-fab plain>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
    <mdc-fab mini plain>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
</fieldset>
<fieldset>
    <legend>Disabled FABs</legend>
    <mdc-fab disabled>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
    <mdc-fab disabled mini>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
    <mdc-fab disabled plain>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
    <mdc-fab disabled mini plain>
        <mdc-icon [icon]="icon"></mdc-icon>
    </mdc-fab>
</fieldset>