<section>
    <fieldset>
        <legend>Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button [raised]="true">Raised</mdc-button>
        <mdc-button href="#" [raised]="true">Link</mdc-button>
        <mdc-button [dense]="true">Dense Default</mdc-button>
        <mdc-button [dense]="true" [raised]="true">Dense Raised</mdc-button>
        <mdc-button [compact]="true">Compact Default</mdc-button>
        <mdc-button [compact]="true" [raised]="true">Compact Raised</mdc-button>
        <mdc-button [primary]="true">Default with Primary</mdc-button>
        <mdc-button [primary]="true" [raised]="true">Raised with Primary</mdc-button>
        <mdc-button [accent]="true">Default with Accent</mdc-button>
        <mdc-button [accent]="true" [raised]="true">Raised with Accent</mdc-button>
    </fieldset>
    <fieldset disabled>
        <legend>Disabled Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button [raised]="true">Raised</mdc-button>
        <mdc-button href="#" [raised]="true">Link</mdc-button>
        <mdc-button [dense]="true">Dense Default</mdc-button>
        <mdc-button [dense]="true" [raised]="true">Dense Raised</mdc-button>
        <mdc-button [compact]="true">Compact Default</mdc-button>
        <mdc-button [compact]="true" [raised]="true">Compact Raised</mdc-button>
        <mdc-button [primary]="true">Default with Primary</mdc-button>
        <mdc-button [primary]="true" [raised]="true">Raised with Primary</mdc-button>
        <mdc-button [accent]="true">Default with Accent</mdc-button>
        <mdc-button [accent]="true" [raised]="true">Raised with Accent</mdc-button>
    </fieldset>
</section>
<h2>Dark Theme</h2>
<section class="mdc-theme--dark">
    <fieldset>
        <legend>Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button [raised]="true">Raised</mdc-button>
        <mdc-button href="#" [raised]="true">Link</mdc-button>
        <mdc-button [dense]="true">Dense Default</mdc-button>
        <mdc-button [dense]="true" [raised]="true">Dense Raised</mdc-button>
        <mdc-button [compact]="true">Compact Default</mdc-button>
        <mdc-button [compact]="true" [raised]="true">Compact Raised</mdc-button>
        <mdc-button [primary]="true">Default with Primary</mdc-button>
        <mdc-button [primary]="true" [raised]="true">Raised with Primary</mdc-button>
        <mdc-button [accent]="true">Default with Accent</mdc-button>
        <mdc-button [accent]="true" [raised]="true">Raised with Accent</mdc-button>
    </fieldset>
    <fieldset disabled>
        <legend>Disabled Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button [raised]="true">Raised</mdc-button>
        <mdc-button [dense]="true">Dense Default</mdc-button>
        <mdc-button [dense]="true" [raised]="true">Dense Raised</mdc-button>
        <mdc-button [compact]="true">Compact Default</mdc-button>
        <mdc-button [compact]="true" [raised]="true">Compact Raised</mdc-button>
        <mdc-button [primary]="true">Default with Primary</mdc-button>
        <mdc-button [primary]="true" [raised]="true">Raised with Primary</mdc-button>
        <mdc-button [accent]="true">Default with Accent</mdc-button>
        <mdc-button [accent]="true" [raised]="true">Raised with Accent</mdc-button>
    </fieldset>
</section>