<section>
    <fieldset>
        <legend>Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button raised>Raised</mdc-button>
        <mdc-button [href]="link" raised>
            <div class="link content">Link</div>
        </mdc-button>
        <mdc-button dense>Dense Default</mdc-button>
        <mdc-button dense raised>Dense Raised</mdc-button>
        <mdc-button compact>Compact Default</mdc-button>
        <mdc-button compact raised>Compact Raised</mdc-button>
        <mdc-button primary>Default with Primary</mdc-button>
        <mdc-button primary raised>Raised with Primary</mdc-button>
        <mdc-button accent>Default with Accent</mdc-button>
        <mdc-button accent raised>Raised with Accent</mdc-button>
    </fieldset>
    <fieldset disabled>
        <legend>Disabled Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button raised>Raised</mdc-button>
        <mdc-button [href]="link" raised>
            <div class="link content">Link</div>
        </mdc-button>
        <mdc-button dense>Dense Default</mdc-button>
        <mdc-button dense raised>Dense Raised</mdc-button>
        <mdc-button compact>Compact Default</mdc-button>
        <mdc-button compact raised>Compact Raised</mdc-button>
        <mdc-button primary>Default with Primary</mdc-button>
        <mdc-button primary raised>Raised with Primary</mdc-button>
        <mdc-button accent>Default with Accent</mdc-button>
        <mdc-button accent raised>Raised with Accent</mdc-button>
    </fieldset>
</section>
<h2>Dark Theme</h2>
<section class="mdc-theme--dark">
    <fieldset>
        <legend>Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button raised>Raised</mdc-button>
        <mdc-button [href]="link" raised>
            <div class="link content">Link</div>
        </mdc-button>
        <mdc-button dense>Dense Default</mdc-button>
        <mdc-button dense raised>Dense Raised</mdc-button>
        <mdc-button compact>Compact Default</mdc-button>
        <mdc-button compact raised>Compact Raised</mdc-button>
        <mdc-button primary>Default with Primary</mdc-button>
        <mdc-button primary raised>Raised with Primary</mdc-button>
        <mdc-button accent>Default with Accent</mdc-button>
        <mdc-button accent raised>Raised with Accent</mdc-button>
    </fieldset>
    <fieldset disabled>
        <legend>Disabled Buttons</legend>
        <mdc-button>Default</mdc-button>
        <mdc-button raised>Raised</mdc-button>
        <mdc-button [href]="link" raised>
            <div class="link content">Link</div>
        </mdc-button>
        <mdc-button dense>Dense Default</mdc-button>
        <mdc-button dense raised>Dense Raised</mdc-button>
        <mdc-button compact>Compact Default</mdc-button>
        <mdc-button compact raised>Compact Raised</mdc-button>
        <mdc-button primary>Default with Primary</mdc-button>
        <mdc-button primary raised>Raised with Primary</mdc-button>
        <mdc-button accent>Default with Accent</mdc-button>
        <mdc-button accent raised>Raised with Accent</mdc-button>
    </fieldset>
</section>